## VSCode
.vscode/*

## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.fls
*.out
*.lof
*.lot
*.toc

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz

## tcolorbox
*.listing

## gumi
.*.swp

# auto folder when using emacs and auctex
./auto/*
*.el

# emacs
.\#*